



html {


}

i {

    font-style:italic;
}

body {

    text-align:center;
    font-family:sans-serif;
    font-size: 2em;
}

section {
    position:relative;
    
    float:left;
    background-color:antiquewhite;
    margin:1px 4px;
    padding:19px;
    text-align:center;

}

section div  {  
    flex-grow:1;
}

img {
    position:sticky;
    top:49px;
}

header {
    background-color:white;
    position: sticky;
    top:-3px;
}

.container {
    text-align:center;
    width:80%;
    margin:auto;
    display:flex;
    justify-content: center;
}

h1 {
    padding:9px;
    color:white;
    text-shadow: -.5px -1px 1px rgba(10,1,1,.4);
    font-style:italic;
}

h2 {
    color:black;
    font-size:.7em;
    text-align:center;
    position:relative;
    font-weight:bold;
    left:0px;
    top:6px;
    line-height:10px;
}

h3 {
   
    font-size:.7em;
}

nav ul {

    font-size:.4em;
    list-style-type:none;
    font-style:normal;
}



a:link {
    text-decoration:none;
    color:brown;
}
a:active {

    color:black;
}

a:hover {

    color:white;
}


a:visited {
    color:grey;
}


nav ul li {
    float:left;
    padding:5px;
    margin:5px;


}

#logo {
    z-index:4;
    background-color:white;
    float:left;
}

nav  {
    position:relative;
    top:10px;
}


#lowerdiv {
    z-index:5;
    background-color:white;
    text-align:center;


    padding:10px;

}

.smallInfo {
    position:relative;
    left:0px;
    text-align:left;
    top:10px;
    font-size:.8em;
    list-style-type:disc;
}


.smallInfo li{
    clear:both;
    font-size:.5em;
}

