



html {
  font-size: 100%;

}

i {

    font-style:italic;
}

body {

    text-align:center;
    font-family:sans-serif;
    font-size:1em;
    background-color:azure;
}

section {
    position:relative;
    flex-grow:1;
    float:left;
    
    margin:3px 4px;
    padding:19px;
    text-align:center;
    border-radius:4px;
    justify-content: center;
}

section div {
    background-color:none;
}

button {
     font-size:1.4em; 
    padding: 10px 20px;
    margin-top:20px;
    border-radius:10px;
}


img {
    position:sticky;
    top:49px;
}

header {
    background-color:white;
    position: sticky;
    top:-3px;
}

.container {
    text-align:center;
    width:80%;
    margin:auto;
    display:flex;
    justify-content: center;
}

h1 {
    font-size:1.7em;
    padding:9px;
    color:white;
    text-shadow: -.5px -1px 1px rgba(10,1,1,.4);
    font-style:italic;
}

h2 {
    color:black;
    font-size:2em;
    text-align:center;
    position:relative;
    font-weight:bold;
    left:0px;
    top:-3px;
    line-height:1.1em;
}

h3 {
   line-height:1em;
   font-size:1.4em;
    margin-bottom:6px;
    padding:12px;
    font-weight:bold;
}

h6 {
    text-align:center;
    font-size: .4em;
}


nav ul {

    font-size:.4em;
    list-style-type:none;
    font-style:normal;
}

a:link {
    text-decoration:none;
    color:brown;
}
a:active {

    color:black;
}

a:hover {

    color:white;
}


a:visited {
    color:grey;
}


nav ul li {
    float:left;
    padding:5px;
    margin:5px;


}

#logo {
    z-index:4;
    background-color:white;
    float:left;
}

nav  {
    position:relative;
    top:10px;
}


#lowerdiv {
    z-index:5;
    background-color:white;
    text-align:center;
    padding:10px;
}

.smallInfo {
    position:relative;
    left:0px;
    margin-left:10%;
    text-align:left;
    top:0px;
    font-size:1.2em;
    line-height:1.24em;
    list-style-type:disc;
}

#specs {
    
/*    background-color:rgba(140,150,100,.3);*/
    flex-grow:1;
}


.smallInfo li{
    clear:both;
   margin-top:5px;
   
}

#specsList {
    
}

#download  {
    background-color:none;
    
}

footer {
    
    text-align:center;
    display:flex;
    
    
}

footer div h6 {
    
    text-align:center;
}